<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="template_styles.css">
</head>
<body>
    <div class="container grid">
        <div class="item" id="first-box">
            <div id="x-box">
                
            </div>
            <span class="text">1</span>
        </div>
        <div class="item" id="second-box">
            <span class="text">2</span>
        </div>
        <div class="item" id="center">
            <div class="item" id="third-box">
                <span class="text">3</span>
            </div>
            <div class="item" id="fifth-box">5</div>
        </div>
        <div class="item" id="forth-box">
            <span class="text">4</span>
        </div>
        <div class="item" id="sixth-box">
            <div id="y-box">
                y
            </div>
            <span class="text">6</span>
        </div>
    </div>
</body>
</html>