html{
    height: 100%
}

body{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 90%;
    width: 60%;
    background-color: black;
    padding: 3px;
}   

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 3px;

}

.item{
    font-size: 30px;
    background-color: lightblue;
    width:100%;
    height: 100%;
}
#first-box{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c6d9f1;
}
#second-box{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #fde9d9;
}

#third-box{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: white;
}
#center{
    display: flex;
    flex-direction: column;
    background-color: black;
    gap:3px;
}

#fifth-box{
    height: 10%;
    width:100%;  
    text-align: center; 
    background-color: #eaf1dd;
}
#forth-box{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #fde9d9;
}
#sixth-box{
    grid-column-start:1;
    grid-column-end:3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c6d9f1;
}
#x-box{
    background-color: white;
    width: 140px;
    height: 30%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    border: 3px solid black;
    text-align: end;
    padding-right: 10px;
}
#y-box{
    background-color: white;
    width: 150px;
    height: 30%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    border: 3px solid black;
    text-align: center;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
}